.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.2s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 10;
    background: #CC95C0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 30px;
    color: black;
    height: 60%;
    width: 50%;
}

.modal.inactive{
    transform: translate(-50%, -50%) scale(0);

}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid black;
    .title{
        font-size: 2.6rem;
        font-weight: bold;
        letter-spacing: -2px;
        color: white;
    }
    .close-button{
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.modal-body{
    padding: 115px 15px;
    letter-spacing: -2px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
    // remove overlay active when clicked on the x button
}
