$Primarycolor: #181818;
$Secondarycolor: #f8f8f8;

@font-face{
    font-family: 'ITC Avant Garde Gothic';
    src: url(/font/avgr45w.ttf);
}

body {
  background: $Primarycolor;
  color: $Secondarycolor;
  font-family: 'AvantGarde-Book',  sans-serif;
}

.light-mode {
  background: $Secondarycolor;
  color: rgb(214, 148, 159);
}

#toggle-view {
  cursor: pointer;
}
